// http://ionicframework.com/docs/theming/
// App Global Sass



// toolbar

.toolbar-background-md {
    border-color: color($colors, dark);
    background-color:  color($colors, app-pink);
}

.toolbar-title-md{
    color: #FFF;
}

//end toolbar


    .text-lodi{
        font-size: 1.5em;
        text-align: center;
    }

    .card {
        width: 19%;
        height: 220px;
        background-color: color($colors, dark-medium);
        border: 2px solid color($colors, dark-light);
        border-radius: 20px;
        text-align: center;
        color: #FFF;
        font-size: 6em;
        display: flex;
        flex-direction: column;         
    }

    .card:hover{
        background-color: color($colors, app-orange);
    }

    .row{
        margin: 1em 0;
    }
    .container-fluid {
        display: flex;
        flex-flow: row;
        flex-basis: auto;
        justify-content: space-around;      
        width: 100%;  
    }
   
    .upper, .lower {
        align-self: flex-start;
        flex-grow: 1;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }

    .lower {
        align-self: flex-end;
        text-transform: lowercase;
    }

